.tab-container {
  display: flex;
  width: 100%;
  height: fit-content;
  gap: 10px;
  padding-bottom: 10px;
  position: relative;
}

.tab-button, .precedent, .suivant {
    font-family: "Geologica", sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    border-radius: 30px;
    border: none;
    padding: 5px 15px 5px 5px;
    gap: 10px;
    justify-content: center;
    background-color: #e0e0e0;
    color: #0171DF;
    transition: 0.5s ease-in;
}
.precedent, .suivant{
  font-family: "Geologica", sans-serif;
  width: 20%;
  font-weight: 300;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: none;
  gap: 10px;
  justify-content: center;
  background-color: #e0e0e0;
  color: #0171DF;
  transition: 0.5s ease-in;
}
.tab-button:hover{
  background-color: #0171DF;
  color: white;
  transition: 0.5s ease-in;

}
.fa-timeline, 
.fa-calendar-week, 
.fa-plus{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0171DF;
  color: white;
  border-radius: 60%;
  padding: 15px;
  transition: 0.5s ease-in;

}
.tab-button:hover .fa-timeline, 
.tab-button:hover .fa-calendar-week,
.tab-button:hover .fa-plus{
  background-color: white;
  color: #0171DF;
  transition: 0.5s ease-in;

}

.tab-button.active {
  background-color: green;
  color: white;
}
.tab-button.active .fa-timeline,
.tab-button.active .fa-calendar-week,
.tab-button.active .fa-plus{
  background-color: #45a049;
  color: white;
}

.tab-content {
  display: none;
  width: 100%;
  height: 90%; /* Assurez que le contenu occupe tout l'espace */
}

.tab-content.active {
  display: block;
}

.container-timeline {
  display: flex;
  flex-direction: column;
  height: 96%;
  overflow: hidden; /* Ajoutez ceci pour éviter le dépassement vertical */
}
.timeline {
  display: flex;
  overflow-x: auto; /* Assurez-vous que le défilement horizontal est activé */
  overflow-y: hidden; /* Pas de défilement vertical pour garder la hauteur stable */
  background-color: white;
  border-radius: 20px;
  height: 100% ; /* Garder la timeline à 100% de la hauteur du parent */
  width: 100%; /* Assurez-vous que la timeline prend toute la largeur disponible */
  position: relative; /* Nécessaire pour le sticky */
}

.timeline-content {
  display: flex;
  flex-direction: column;
  width: 100%; /* Prendre 100% de la largeur de la box */
  flex-grow: 1; /* Grandir pour occuper tout l'espace disponible */
}

.timeline::-webkit-scrollbar {
  display: none;
}

.timeline-tab{
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 25px;
}

.day-row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  height: 100%;
  min-width: 100%;
}

.day-header {
  width: fit-content;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #0171DF;
  color: white;
  position: sticky;
  left: 0;
  top: 0; /* Si nécessaire pour le défilement vertical aussi */
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* L'ombre pour un effet visuel */
}


.hours {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.hour {
  width: 200px;
  min-width: 200px;
  border-right: 1px solid #e0e0e0;
  position: relative;
}

.hour-label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 12px;
  color: #333;
  font-weight: bold;
}

.task {
  background-color: #4CAF50;
  color: white;
  padding: 5px;
  margin: 2px;
  border-radius: 3px;
  cursor: move;
  transition: background-color 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: none;
  position: absolute;
  min-height: 50px;
  top: auto;
  z-index: 5;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: bold;
  margin-bottom: 2px;
}

.task-details {
  font-size: 10px;
  margin-bottom: 2px;
}

.task-description {
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.task.expanded .task-description {
  -webkit-line-clamp: initial;
}

.task:hover {
  background-color: #45a049;
}

.task.dragging {
  opacity: 0.5;
}

.task .edit-button,
.task .expand-button {
  position: absolute;
  top: 2px;
  background-color: #ffffff;
  color: #4CAF50;
  border: none;
  border-radius: 3px;
  padding: 2px 5px;
  font-size: 10px;
  cursor: pointer;
  display: none;
}

.task .edit-button {
  right: 2px;
}

.task .expand-button {
  right: 20px;
}

.task:hover .edit-button,
.task:hover .expand-button {
  display: block;
}

.task.expanded {
  height: auto;
  min-height: 100px;
  z-index: 20;
}

.current-time-indicator {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: red;
  z-index: 15;
  pointer-events: none;
  left: 50%; /* Ajustez selon la position correcte de l'heure actuelle */
}

.current-time-label {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: red;
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}
.calendar-tab{
 width: 100%;
}
.calendar{
  height: 100%;
  background-color: #fefefe;
  padding: 15px;
  border-radius: 20px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 7px;
  height: 93%;
}

.calendar-day {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #0171DF;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.calendar-day:hover {
  background-color: #e0e0e0;
}

.calendar-day.active {
  background-color: #4CAF50;
  color: white;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
