@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #c9ffd5;
    background: radial-gradient(circle, rgba(189,0,241,1) 12%, rgba(128,63,214,1) 76%, rgba(63,94,251,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span{
    font-size: 12px;
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #0171DF;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}



.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #0171DF;
    height: 100%;
    background: linear-gradient(90deg, rgba(194,0,183,1) 0%, rgba(162,0,194,1) 45%, rgba(22,39,221,1) 100%);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}
.role-selector {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .role-options {
    visibility: hidden; /* Masquer sans affecter la mise en page */
    height: 0;          /* Réduire la hauteur à 0 pour éviter l'occupation d'espace */
    overflow: hidden;    /* Empêche le débordement de contenu caché */
    transition: height 0.3s ease-in-out; /* Animation pour rendre la transition fluide */
    margin-top: 0.5rem;
}

.role-options.show {
    visibility: visible; /* Rendre visible uniquement lorsque nécessaire */
    height: auto;        /* Ajuster la hauteur selon le contenu visible */
}

#roleSelect{
    padding: 5px;
    border-radius: 20px;
    border: solid 1px black;
    margin-left: 3px;
}
.admin-Options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centrer horizontalement */
    justify-content: center; /* Centrer verticalement */
    gap: 10px; /* Ajouter un espace entre les éléments */
    height: fit-content;  /* Vous pouvez ajuster la hauteur selon vos besoins */
}

.title-adminCode {
    width: fit-content;
    text-align: center; /* Centrer le texte dans l'élément */
}

.code-input {
    width: 100%; /* S'assure que l'input occupe toute la largeur du parent */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centre horizontalement l'input dans ce conteneur */
    justify-content: center;
}

