
  
  
  .progress-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

  }
  .title-indicator-progress{
    display: flex;
    width: 100%;
    height: fit-content;
    padding: 0px 20px;
    align-items: center;
  }
  .progress-background {
    fill: none;
    stroke: #e0e0e0;
    stroke-width: 38;
    stroke-linecap: round;
  }
  .progress-bar {
    fill: none;
    stroke: #4CAF50;
    stroke-width: 40;  /* Légèrement plus gros que le tracé de base */
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease-out;
  }
  .progress-text {
    font-size: 50px;
    font-weight: bold;
    fill: #333;
  }
  .start-point {
    fill: #4CAF50;
    transition: opacity 0.3s ease-out;
  }
  .controls {
    margin-top: 30px;
  }
  input[type="range"] {
    width: 100%;
  }